<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        label, input, select {
            display: block;
        }
    </style>
</head>
<header><h1>Choose action</h1></header>
<body style="display: flex; flex-direction: column">
<div style="float: left;margin-right: 20px;">
    <table th:border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td><span th:text="${user.id}"></span></td>
            <td><span th:text="${user.firstName}"></span></td>
            <td><span th:text="${user.lastName}"></span></td>
            <td><span th:text="${user.age}"></span></td>
            <td><span th:text="${user.roles}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="float: left;margin-right: 20px;">
    <table th:border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Role Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role:${roles_data}">
            <td><span th:text="${role.id}"></span></td>
            <td><span th:text="${role.name}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${user.roles.size() == 0}" style="margin-top: 20px">
    <form action="/" method="get">
        <fieldset style="float: left">
            <h4>Add user: set user role count</h4>
            <div style="float: left;margin-right: 20px;">
                <label>
                    Role count
                    <input type="number" name="roleCount" th:value="${roleCount}" required>
                </label>
            </div>
            <div style="float: left">
                <br>
                <button type="submit" name="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<div th:if="${user.roles.size() > 0}" style="margin-top: 20px">
    <form action="/add" th:object="${user}" method="post">
        <fieldset style="float: left">
            <h4>Add user</h4>
            <div style="float: left;margin-right: 20px;">
                <label>
                    First Name
                    <input type="text" name="firstName" th:field="${user.firstName}" required>
                </label>
            </div>
            <div style="float: left;margin-right: 20px;">
                <label>
                    Last Name
                    <input type="text" name="lastName" th:field="*{lastName}" required>
                </label>
            </div>
            <div style="float: left;margin-right: 20px;">
                <label>
                    Age
                    <input type="number" name="age" th:field="*{age}" required>
                </label>
            </div>
            <div style="float: left;margin-right: 20px;">
                <div style="float: left" th:each="role,itemStat:*{roles}">
                    <label>
                        <span th:text="${itemStat.index == 0} ? 'Role' : '&shy'"></span>
                        <select th:field="*{roles[__${itemStat.index}__].name}">
                            <option th:each="binding_role: ${roles_data}" th:value="${binding_role.name}"
                                    th:text="${binding_role.name}"></option>
                        </select>
                    </label>
                </div>
            </div>
            <div style="float: left">
                <br>
                <button type="submit" name="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<div style="margin-top: 20px">
    <form action="/remove" method="post">
        <fieldset style="float: left">
            <h4>Remove user</h4>
            <div style="float: left;margin-right: 20px;">
                <label>
                    Id
                    <input type="number" name="id" th:value="${id}" required>
                </label>
            </div>
            <div style="float: left">
                <br>
                <button type="submit" name="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<div th:if="${user.roles.size() == 0}" style="margin-top: 20px">
    <form action="/" method="get">
        <fieldset style="float: left">
            <h4>Update user: set user role count</h4>
            <div style="float: left;margin-right: 20px;">
                <label>
                    Role count
                    <input type="number" name="roleCount" th:value="${roleCount}" required>
                </label>
            </div>
            <div style="float: left">
                <br>
                <button type="submit" name="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<div th:if="${user.roles.size() > 0}" style="margin-top: 20px">
    <form action="/update" th:object="${user}" method="post">
        <fieldset style="float: left">
            <h4>Update user</h4>
            <div style="float: left;margin-right: 20px;">
                <label>
                    Id to update
                    <input type="number" name="idToUpdate" th:value="${idToUpdate}" required>
                </label>
            </div>
            <div style="float: left;margin-right: 20px;">
                <label>
                    First Name
                    <input type="text" name="firstName" th:field="${user.firstName}" required>
                </label>
            </div>
            <div style="float: left;margin-right: 20px;">
                <label>
                    Last Name
                    <input type="text" name="lastName" th:field="*{lastName}" required>
                </label>
            </div>
            <div style="float: left;margin-right: 20px;">
                <label>
                    Age
                    <input type="number" name="age" th:field="*{age}" required>
                </label>
            </div>
            <div style="float: left;margin-right: 20px;">
                <div style="float: left" th:each="role,itemStat:*{roles}">
                    <label>
                        <span th:text="${itemStat.index == 0} ? 'Role' : '&shy'"></span>
                        <select th:field="*{roles[__${itemStat.index}__].name}">
                            <option th:each="binding_role: ${roles_data}" th:value="${binding_role.name}"
                                    th:text="${binding_role.name}"></option>
                        </select>
                    </label>
                </div>
            </div>
            <div style="float: left">
                <br>
                <button type="submit" name="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>